:root {
    font-size: poppins sans-serif;
    --azul: rgb(63, 70, 205);
    --azul-profundo: rgb(20, 24, 233);
    --castanha: rgb(180, 122, 87);
    --sinza: rgb(179, 177, 177);
    --branco: rgb(255, 255, 255);
}